Django==1.9.1
django-registration==2.0.4
-e git://github.com/pebble/django-pipeline.git@06e6e627e87172597f9d120c8629638a7a2aa5aa#egg=pipeline
amqp==1.4.7
celery==3.1.20
flup==1.0.3.dev-20110405
psycopg2==2.6.1
South==1.0.1
qrcode==4.0.4
Pillow==2.9.0
pygithub==1.14.2
python-social-auth==0.2.14
keen==0.3.20
redis==2.10.5
boto==2.39.0
gevent>=1.1rc2
psycogreen==1.0
requests==2.9.1
oauth2client==1.5.2
django-bower==5.0.4

# This is used for Mailchimp integration
mailchimp==2.0.9

# These are used for Heroku hosting setup.
dj-static
gunicorn
dj-database-url
newrelic

# These are in the SDK requirements.txt and included here to save on Heroku deploy time.
freetype-py==1.0
sh==1.08
pypng==0.0.17
