Django==1.9.5
django-registration==2.0.4
-e git://github.com/pebble/django-pipeline.git@7c1bb9f4a90a5911c94e24bee79dfed48602a19f#egg=pipeline
amqp==1.4.9
celery==3.1.23
flup==1.0.3.dev-20110405
psycopg2==2.6.1
South==1.0.2
qrcode==4.0.4
Pillow==2.9.0
pygithub==1.26.0
python-social-auth==0.2.16
redis==2.10.5
boto==2.39.0
gevent==1.1
psycogreen==1.0
requests==2.9.1
oauth2client==1.5.2
django-bower==5.1.0

# This is used for Mailchimp integration
mailchimp==2.0.9

# These are used for Heroku hosting setup.
whitenoise==3.0
gunicorn==19.3.0
dj-database-url==0.3.0
newrelic==2.50.0.39

# These are in the SDK requirements.txt and included here to save on Heroku deploy time.
freetype-py==1.0
sh==1.08
pypng==0.0.17

# Additional requirements
anyjson==0.3.3
billiard==3.3.0.23
django-celery==3.1.17
docopt==0.4.0
greenlet==0.4.9
httplib2==0.9.2
kombu==3.0.35
oauthlib==1.0.3
pyasn1==0.1.7
pyasn1-modules==0.0.5
PyGithub==1.14.2
python-openid==2.2.5
pytz==2016.3
requests-oauthlib==0.6.1
rsa==3.1.4
six==1.10.0
static3==0.6.1
