Django==1.9.5
django-registration==2.0.4
-e git://github.com/pebble/django-pipeline.git@2cbcb6f939b50e674106336984e7e8550c2fc39d#egg=pipeline
amqp==1.4.9
celery==3.1.23
django-celery==3.1.17
flup==1.0.3.dev-20110405
psycopg2==2.6.1
South==1.0.2
qrcode==4.0.4
pygithub==1.26.0
python-social-auth==0.2.16
redis==2.10.5
boto==2.39.0
gevent==1.1
psycogreen==1.0
requests==2.9.1
oauth2client==1.5.2
django-bower==5.1.0
mock==2.0.0

# This is used for Mailchimp integration
mailchimp==2.0.9

# These are used for Heroku hosting setup.
whitenoise==3.0
gunicorn==19.3.0
dj-database-url==0.3.0
newrelic==2.50.0.39

# These are in the SDK requirements.txt and included here to save on Heroku deploy time.
freetype-py==1.0
sh==1.08
pypng==0.0.17

# Additional requirements
anyjson==0.3.3
billiard==3.3.0.23
docopt==0.4.0
funcsigs==1.0.0
futures==3.0.5
greenlet==0.4.9
httplib2==0.9.2
kombu==3.0.35
oauthlib==1.0.3
ordereddict==1.1
pbr==1.9.1
pyasn1==0.1.9
pyasn1-modules==0.0.8
PyJWT==1.4.0
python-openid==2.2.5
pytz==2016.3
requests-oauthlib==0.6.1
rsa==3.4.2
six==1.10.0
