{% extends "ide/base.html" %}
{% load staticfiles %}
{% block content %}
<style type="text/css">
      /* Custom container */
      .container-narrow {
        margin: 0 auto;
        max-width: 800px;
      }
      .container-narrow > hr {
        margin: 30px 0;
      }
      </style>
<div class="container-narrow">
    <div class="masthead">
        <ul class="nav nav-pills pull-right">
          <li class="active"><a>Your Projects</a></li>
          <li><a href="{% url 'ide:settings' %}">IDE Settings</a></li>
          <li><a href="http://blog.cloudpebble.net/">Blog</a></li>
          <li><a href="{% url 'logout' %}">Sign out</a></li>
        </ul>
        <h3 class="muted">CloudPebble</h3>
    </div>
    <div class="row-fluid">
        <div class="span12 well">
            {% if my_projects %}
                <table class="table">
                    <thead>
                        <tr><th>Project</th><th>Last modified</th><th>Last build</th></tr>
                    </thead>
                    <tbody>
                    {% for project in my_projects %}
                        <tr>
                            <td><a href="{% url 'ide:project' project.id %}">{{ project.name }}</a></td>
                            <td>{{ project.last_modified }}</td>
                            <td>
                                {% if project.get_last_build %}
                                    {{ project.last_build.started }}
                                    {% if project.last_build.state == 3 %}
                                        <span class="label label-success">Successful</span>
                                    {% elif project.last_build.state == 2 %}
                                        <span class="label label-important">Failed</span>
                                    {% else %}
                                        <span class="label label-info">Pending</span>
                                    {% endif %}
                                {% else %}
                                    <span class="muted">Never</span>
                                {% endif %}
                            </td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            {% else %}
                <p>You don't have any projects yet.</p>
            {% endif %}
            <p>
                <button id="create-project" class="btn">Create Project</button>
                <button id="import-project" class="btn">Import Project</button>
            </p>
        </div>
    </div>
    {% if my_projects %}
    <div class="row-fluid">
        <div class="span12 well" style="text-align: justify;" id="donations">
            <p>If CloudPebble is useful to you please consider donating! Running the site is not free and
                development consumes much of my limited free time. Donations serve both to cover actual
                expenses and encourage me to keep working!</p>
            <div class="row-fluid" style="padding-top: 10px;">
                <div class="span6 text-center">
                <p>You can donate via PayPal:</p>
                <form action="https://www.paypal.com/cgi-bin/webscr" method="post" target="_top">
                    <input type="hidden" name="cmd" value="_s-xclick">
                    <input type="hidden" name="hosted_button_id" value="KUJCS5LYA22TY">
                    <input type="image" src="https://www.paypalobjects.com/en_US/i/btn/btn_donateCC_LG.gif" style="height: 47px; width:147px;" border="0" name="submit" alt="PayPal - The safer, easier way to pay online!">
                    <img alt="" border="0" src="https://www.paypalobjects.com/en_US/i/scr/pixel.gif" width="1" height="1">
                </form>

                </div>
                <div class="span6 text-center">
                    <p>Or, if you have any, you can send Bitcoins to:<br><br><tt>134chMKdmjce813vDAxdPW9Nhybkp7aLDJ</tt>.</p>
                </div>
            </div>
            <p>Thank you for your support! Please feel free to drop me a note at <a href="mailto:katharine@kathar.in">katharine@kathar.in</a>
                or comment on <a href="http://forums.getpebble.com/discussion/4745/cloudpebble-net-online-pebble-ide/p1">the Pebble forum</a>.
                I want to hear from you!</p>
        </div>
    </div>
    {% endif %}
    <div class="footer muted text-center">
        <small>CloudPebble was created by Katharine Berry and is sponsored by Pebble.</small>
    </div>
</div>

<div id="project-prompt" class="modal hide fade" tabindex="-1" role="dialog">
    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">x</button>
        <h3 id="project-prompt-title">Create New Project</h3>
    </div>
    <div class="modal-body">
        <div id="project-prompt-errors" class="alert alert-error hide"></div>
        <form class="form-horizontal">
            <div class="control-group">
                <label class="control-label" for="project-prompt-value">Project name</label>
                <div class="controls">
                    <input type="text" id="project-prompt-value">
                </div>
            </div>
            <div class="control-group">
                <label class="control-label" for="project-type">Project type</label>
                <div class="controls">
                    <select id="project-type">
                        <option value="native" selected="selected">Pebble C SDK</option>
                        <option value="simplyjs">Simply.JS</option>
                    </select>
                </div>
            </div>
            <div class="control-group" id="template-holder">
                <label class="control-label" for="project-template">Template</label>
                <div class="controls">
                    <select id="project-template">
                        <option value="0">Empty project</option>
                        {% if sdk_templates %}
                        <optgroup label="Standard Templates">
                            {% for template in sdk_templates %}
                                <option value="{{ template.id }}" {%if template.id == default_template_id%}selected="selected"{%endif%}>{{ template.name }}</option>
                            {% endfor %}
                        </optgroup>
                        {% endif %}
                        {% if demo_templates %}
                        <optgroup label="SDK demos">
                            {% for template in demo_templates %}
                                <option value="{{ template.id }}" {%if template.id == default_template_id%}selected="selected"{%endif%}>{{ template.name }}</option>
                            {% endfor %}
                        </optgroup>
                        {% endif %}
                        {% if example_templates %}
                        <optgroup label="Examples">
                            {% for template in example_templates %}
                                <option value="{{ template.id }}" {%if template.id == default_template_id%}selected="selected"{%endif%}>{{ template.name }}</option>
                            {% endfor %}
                        </optgroup>
                        {% endif %}
                    </select>
                </div>
            </div>
        </form>
    </div>
    <div class="modal-footer">
        <button class="btn" data-dismiss="modal">Cancel</button>
        <button class="btn btn-primary" id="project-confirm-button">Create</button>
    </div>
</div>
<div id="import-prompt" class="modal hide fade" tabindex="-1" role="dialog">
    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">x</button>
        <h3>Import Existing Project</h3>
    </div>
    <div class="modal-body">
        <ul class="nav nav-tabs">
            <li class="active"><a href="#import-zip" data-toggle="tab">Upload Zip</a></li>
            <li><a href="#import-github" data-toggle="tab">Import from GitHub</a></li>
        </ul>
        <div class="tab-content">
            <div id="import-zip" class="tab-pane active">
                <div class="errors alert alert-error hide"></div>
                <form class="form-horizontal">
                    <div class="control-group">
                        <label class="control-label" for="import-zip-name">Project name</label>
                        <div class="controls">
                            <input type="text" id="import-zip-name">
                        </div>
                    </div>
                    <div class="control-group">
                        <label class="control-label">Zip file</label>
                        <div class="controls">
                            <input type="file" accept="application/zip,application/x-zip-compressed">
                            <span class="help-block">This must be a zip file containing a standard Pebble project.</span>
                        </div>
                    </div>
                </form>
                <div class="progress progress-striped active hide">
                    <div class="bar" style="width: 100%;"></div>
                </div>
            </div>
            <div id="import-github" class="tab-pane">
                <div class="alert alert-info">
                    This is a <em>one-time only</em> import from a public GitHub repo containing <em>one</em> project.
                    There will be no further synchronisation.
                </div>
                <div class="errors alert alert-error hide"></div>
                <form class="form-horizontal">
                    <div class="control-group">
                        <label class="control-label" for="import-github-name">Project name</label>
                        <div class="controls">
                            <input type="text" id="import-github-name">
                        </div>
                    </div>
                    <div class="control-group">
                        <label class="control-label" for="import-github-url">GitHub Project</label>
                        <div class="controls">
                            <input class="span4" type="text" id="import-github-url" placeholder="github.com/Katharine/pebble-stopwatch" pattern="(https?://)?(www\.)?github.com/.+/.+">
                        </div>
                    </div>
                    <div class="control-group">
                        <label class="control-label" for="import-github-branch">Branch (optional)</label>
                        <div class="controls">
                            <input type="text" id="import-github-branch" placeholder="master" />
                        </div>
                    </div>
                </form>
                <div class="progress progress-striped active hide">
                    <div class="bar" style="width: 100%;"></div>
                </div>
            </div>
        </div>
        <div class="modal-footer">
            <button class="btn btn-primary" id="run-import">Import</button>
        </div>
    </div>
</div>
{% endblock %}
{% block scripts %}
<script src="{% static 'ide/js/csrf.js' %}" type="text/javascript"></script>
<script src="{% static 'ide/js/project_list.js' %}" type="text/javascript"></script>
{% endblock %}