{% extends "ide/base.html" %}
{% load staticfiles %}
{% block content %}
<div class="container">
    <div class="masthead">
        <h3 class="muted offset1">CloudPebble</h3>
    </div>
    <div class="span10 offset1 well">
        {% if my_projects %}
            <table class="table">
                <thead>
                    <tr><th>Project</th><th>Last modified</th><th>Last build</th></tr>
                </thead>
                <tbody>
                {% for project in my_projects %}
                    <tr>
                        <td><a href="{% url 'ide:project' project.id %}">{{ project.name }}</a></td>
                        <td>{{ project.last_modified }}</td>
                        <td>
                            {% if project.get_last_build %}
                                {{ project.last_build.started }}
                                {% if project.last_build.state == 3 %}
                                    <span class="label label-success">Successful</span>
                                {% elif project.last_build.state == 2 %}
                                    <span class="label label-important">Failed</span>
                                {% else %}
                                    <span class="label label-info">Pending</span>
                                {% endif %}
                            {% else %}
                                <span class="muted">Never</span>
                            {% endif %}
                        </td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        {% else %}
            <p>You don't have any projects yet.</p>
        {% endif %}
        <p><button id="create-project" class="btn">Create Project</button></p>
    </div>
</div>

<div id="project-prompt" class="modal hide fade" tabindex="-1" role="dialog">
    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">x</button>
        <h3 id="project-prompt-title">Create New Project</h3>
    </div>
    <div class="modal-body">
        <div id="project-prompt-errors" class="alert alert-error hide"></div>
        <p id="project-prompt-prompt">Project name:</p>
        <p><input type="text" id="project-prompt-value"></p>
    </div>
    <div class="modal-footer">
        <button class="btn" data-dismiss="modal">Cancel</button>
        <button class="btn btn-primary" id="project-confirm-button">Create</button>
    </div>
</div>
{% endblock %}
{% block scripts %}
<script src="{% static 'ide/js/csrf.js' %}" type="text/javascript"></script>
<script src="{% static 'ide/js/project_list.js' %}" type="text/javascript"></script>
{% endblock %}