{% extends "ide/base.html" %}
{% load staticfiles %}
{% block title %}CloudPebble – {{ project.name }}{% endblock %}
{% block content %}
<div class="container-fluid">
    <div class="masthead">
        <h3 class="muted">CloudPebble – <span class="project-name">{{ project.name }}</span></h3>
    </div>
    <div class="row-fluid">
        <div class="span2">
            <div class="well">
                <ul class="nav nav-list">
                    <li class="nav-header">Project</li>
                    <li><a href="#">Settings</a></li>
                    <li><a href="#">Compilation</a></li>
                    <li class="nav-header">Source files</li>
                    <li class="divider" id="end-source-files"></li>
                    <li><a href="#" id="new-source-file"><strong>New file</strong></a></li>
                    <li class="nav-header">Resources</li>
                    <li><a href="#">buttons.png</a></li>
                    <li><a href="#">stopwatch.png</a></li>
                    <li class="divider"></li>
                    <li><a href="#">DejaVuSans.ttf</a></li>
                    <li><a href="#">DejaVuSans-Bold.ttf</a></li>
                    <li class="divider"></li>
                    <li><a href="#"><strong>New resource</strong></a></li>
                </ul>
            </div>
        </div>
        <div class="span10" id="pane-parent">
            <div id="main-pane">
            </div>
        </div>
    </div>
</div>
<!-- Modal text prompt -->
<div id="modal-text-input" class="modal hide fade" tabindex="-1" role="dialog">
    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">x</button>
        <h3 id="modal-text-input-title">Modal header</h3>
    </div>
    <div class="modal-body">
        <div id="modal-text-input-errors"></div>
        <p id="modal-text-input-prompt">Modal text input prompt:</p>
        <p><input type="text" id="modal-text-input-value"></p>
    </div>
    <div class="modal-footer">
        <button class="btn" data-dismiss="modal">Cancel</button>
        <button class="btn btn-primary" id="modal-text-confirm-button">Okay</button>
    </div>
</div>
<!-- Modal boolean confirmation prompt -->
<div id="modal-warning-prompt" class="modal hide fade" tabindex="-1" role="dialog">
    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">x</button>
        <h3 id="modal-warning-prompt-title">Modal header</h3>
    </div>
    <div class="modal-body">
        <p id="modal-warning-prompt-warning">Modal warning</p>
    </div>
    <div class="modal-footer">
        <button class="btn" data-dismiss="modal">Cancel</button>
        <button class="btn btn-danger" id="modal-warning-prompt-button">Continue</button>
    </div>
</div>
{% endblock %}
{% block scripts %}
<script type="text/javascript">
var PROJECT_ID = {{ project.id }};
</script>
<script src="{% static 'ide/codemirror/all.js' %}"></script>
<!-- <script src="{% static 'ide/codemirror/clike.js' %}"></script> -->
<script src="{% static 'ide/js/csrf.js' %}"></script>
<script src="{% static 'ide/js/ide.js' %}"></script>
<script src="{% static 'ide/js/editor.js' %}"></script>
{% endblock %}
{% block head %}
<link rel="stylesheet" href="{% static 'ide/codemirror/codemirror.css' %}">
<link rel="stylesheet" href="{% static 'ide/codemirror/monokai.css' %}">
<link rel="stylesheet" href="{% static 'ide/css/ide.css' %}">
{% endblock %}