{% extends 'common/base.html' %}
{% load staticfiles %}
{% load i18n %}
{% block head %}
<meta name="viewport" content="width=device-width, user-scalable=no" />
<link rel="stylesheet" type="text/css" href="{% static 'ide/css/mobile.css' %}">
{% endblock %}
{% block scripts %}
    <script src="{% static 'text-encoding/lib/encoding.js' %}" type="text/javascript"></script>
    <script src="{% static 'ide/js/libpebble/proxysocket.js' %}" type="text/javascript"></script>
    <script src="{% static 'ide/js/libpebble/libpebble.js' %}" type="text/javascript"></script>
    <script type="text/javascript">
    var URL = "{{ url | escapejs }}";
    var TOKEN = "{{ token | escapejs }}";
    var pebble = new Pebble(URL, TOKEN);
    pebble.on('open', function() {
        var updateAccelText = _.throttle(function(accel) {
            $('.accel-x').text(accel.x.toFixed(2));
            $('.accel-y').text(accel.y.toFixed(2));
            $('.accel-z').text(accel.z.toFixed(2));
        }, 250);

        var updateHeadingText = _.throttle(function(heading) {
            $('.heading').text(Math.round(heading));
        }, 250);
        var isAndroid = /Android/i.test(navigator.userAgent);
        window.ondevicemotion = _.throttle(function(e) {
            var accel = _.clone(e.accelerationIncludingGravity);
            // *cry*
            if(isAndroid) {
                accel.x = -accel.x;
                accel.y = -accel.y;
                accel.z = -accel.z;
            }
            pebble.emu_set_accel([[accel.x, accel.y, accel.z]]);
            updateAccelText(accel);
        }, 10);
        window.ondeviceorientation = _.throttle(function(e) {
            var heading = e.webkitCompassHeading !== undefined ? e.webkitCompassHeading : 360 - e.alpha;
            pebble.emu_set_compass(heading, 2);
            updateHeadingText(heading);
        }, 100);
        $('.state').text("Transmitting…");
        $('.stuff').show()
    });
    pebble.on('close', function() {
        window.ondevicemotion = null;
        window.ondeviceorientation = null;
        $('.state').text("Disconnected.");
        $('.stuff').hide();
    });
    </script>
{% endblock %}
{% block content %}
    <h1 class="cloudpebble-logo">
        <span class="cloudpebble-logo-cloud">Cloud</span><span class="cloudpebble-logo-pebble">Pebble</span>
    </h1>
    <div class="content">
        <!-- I still don't know how to vertically centre things with CSS. -->
        <h2 class="state">Connecting…</h2>
        <div class="stuff" style="display: none; margin-top: 40px;">
            <h3>Heading: <span class="heading">…</span>°</h3>
            <h3>Acceleration: <span class="accel-x">0</span>, <span class="accel-y">0</span>, <span class="accel-z">0</span></h3>
        </div>
    </div>
{% endblock %}
