{% extends 'common/base.html' %}
{% load staticfiles %}
{% load i18n %}
{% block head %}
<meta name="viewport" content="width=device-width, user-scalable=no" />
<link rel="stylesheet" type="text/css" href="{% static 'ide/css/mobile.css' %}">
{% endblock %}
{% block scripts %}
    <script src="{% static 'ide/external/textdecoder.js' %}" type="text/javascript"></script>
    <script src="{% static 'ide/js/libpebble/proxysocket.js' %}" type="text/javascript"></script>
    <script src="{% static 'ide/js/libpebble/libpebble.js' %}" type="text/javascript"></script>
    <script type="text/javascript">
    var URL = "{{ url }}";
    var TOKEN = "{{ token | escapejs }}";
    var pebble = new Pebble(URL, TOKEN);
    pebble.on('open', function() {
        window.ondevicemotion = _.throttle(function(e) {
            var accel = e.accelerationIncludingGravity;
            pebble.emu_set_accel([[accel.x, accel.y, accel.z]]);
        }, 10);
        window.ondeviceorientation = _.throttle(function(e) {
            pebble.emu_set_compass(e.webkitCompassHeading, 2);
        }, 100);
    });
    </script>
{% endblock %}
{% block content %}
    <h1 class="cloudpebble-logo">
        <span class="cloudpebble-logo-cloud">Cloud</span><span class="cloudpebble-logo-pebble">Pebble</span>
    </h1>
    <div class="content">
        <!-- I still don't know how to vertically centre things with CSS. -->
        <h2>Transmitting…</h2>
    </div>
{% endblock %}
