{% extends "common/base-narrow.html" %}
{% load staticfiles %}

{% block head %}
    <link rel="stylesheet" type="text/css" href="{% static 'ide/css/settings.css' %}">
{% endblock %}

{% block headercontent %}
<ul class="nav nav-pills pull-right">
    <li><a href="{% url 'ide:index' %}" class="btn">Projects</a></li>
    <li><a class="active btn">Settings</a></li>
    <li><a href="{% url 'logout' %}" class="btn">Sign out</a></li>
</ul>
{% endblock %}

{% block narrowcontent %}
<div class="settings-container">
    <div class="editor-settings">
        <h2 class="section-heading">Editor settings</h2>
        <div class="well">
            <form method="post" class="form-horizontal">
                {% if saved %}
                    <div class="alert alert-success">Settings saved!</div>
                {% endif %}
                {%csrf_token%}
                {% for hidden in form.hidden_fields %}
                {{ hidden }}
                {% endfor %}
                {% for field in form.visible_fields %}
                <div class="control-group">
                    <label for="id_{{field.html_name}}">{{field.label}}</label>
                    <div class="controls">
                        {{ field }}
                        <span class="help-block hide"></span>
                    </div>
                </div>
                {% endfor %}
                <div class="form-actions">
                    <input type="submit" class="btn btn-primary" value="Submit">
                    <input type="reset" class="btn" value="Reset">
                </div>
            </form>
        </div>
    </div>
    <div class="github-settings">
        <h2 class="section-heading">GitHub Integration</h2>
        <div class="well">
            <form action="{% url 'ide:remove_github_auth' %}" method="post" id="unlink-form">{%csrf_token%}</form>
            {% if github and github.token %}
            <img src="{{ github.avatar }}" class="github-avatar">
            <h2 class="github-username">{{ github.username }}</h2>
            <div class="github-options">
                <p><a href="{% url 'ide:start_github_auth' %}" class="btn btn-primary">Re-authenticate</a></p>
                <p><a href="{% url 'ide:remove_github_auth' %}" class="btn btn-primary">Unlink account</a></p>
                {% else %}
                <p><a href="{% url 'ide:start_github_auth' %}" class="btn btn-primary">Link your GitHub account</a></p>
                {% endif %}
                <hr>
                <p>Connecting your GitHub account enables you to connect your projects to GitHub repositories.</p>
            </div>
        </div>
    </div>
</div>
{% endblock %}
{% block scripts %}
<script type="text/javascript">
    // Warn about emacs kinda sucking.
    $('#id_keybinds').change(function() {
        if($(this).val() == 'emacs') {
            $(this)
                .siblings('.help-block')
                .text("Note: the emacs mapping is limited, and will not work properly in some browsers (e.g. Chrome) that prevent using certain keys.")
                .removeClass('hide')
        } else {
            $(this).siblings('.help-block').addClass('hide');
        }
    });
    $('#unlink-btn').click(function(e) {
        e.preventDefault();
        $('#unlink-form').submit();
    });
</script>
{% endblock %}
