{% extends "ide/base.html" %}
{% load staticfiles %}
{% block content %}
<style type="text/css">
    /* Custom container */
    .container-narrow {
        margin: 0 auto;
        max-width: 800px;
    }
    .container-narrow > hr {
        margin: 30px 0;
    }
</style>
<div class="container-narrow">
    <div class="masthead">
        <ul class="nav nav-pills pull-right">
          <li><a href="/ide/">Your Projects</a></li>
          <li class="active"><a>IDE Settings</a></li>
          <li><a href="http://blog.cloudpebble.net/">Blog</a></li>
        </ul>
        <h3 class="muted">CloudPebble</h3>
    </div>
    <div class="row-fluid">
        <div class="span12">
            <h4>Editor settings</h4>
            <form method="post" class="form-horizontal">
                {% if saved %}
                    <div class="alert alert-success">Settings saved!</div>
                {% endif %}
                {%csrf_token%}
                {% for hidden in form.hidden_fields %}
                {{ hidden }}
                {% endfor %}
                {% for field in form.visible_fields %}
                <div class="control-group">
                    <label class="control-label" for="id_{{field.html_name}}">{{field.label}}</label>
                    <div class="controls">
                        {{ field }}
                        <span class="help-block hide"></span>
                    </div>
                </div>
                {% endfor %}
                <div class="form-actions">
                    <input type="submit" class="btn btn-primary" value="Submit">
                    <input type="reset" class="btn" value="Reset">
                </div>
            </form>
        </div>
    </div>
    <div class="row-fluid">
        <div class="span12 well">
            {% if github and github.token %}
            <img src="{{ github.avatar }}" class="img-rounded" style="height: 100px; width: 100px; float: left; margin-right: 10px;">
            <h4>{{ github.username }}</h4>
            <p>You have linked your GitHub account.<br>
            If you want, you can <a href="/ide/settings/github/start">re-authenticate</a> or <a href="/ide/settings/github/unlink">un-link</a> your account.</p>
            {% else %}
            <h4>GitHub integration</h4>
            <a href="/ide/settings/github/start">Link your GitHub account.</a>
            {% endif %}
            <hr>
            <p>Connecting your GitHub account enables you to connect your projects to GitHub repositories.</p>
        </div>
    </div>
</div>
{% endblock %}
{% block scripts %}
<script type="text/javascript">
    // Warn about emacs kinda sucking.
    $('#id_keybinds').change(function() {
        if($(this).val() == 'emacs') {
            $(this)
                .siblings('.help-block')
                .text("Note: the emacs mapping is limited, and will not work properly in some browsers (e.g. Chrome) that prevent using certain keys.")
                .removeClass('hide')
        } else {
            $(this).siblings('.help-block').addClass('hide');
        }
    });
</script>
{% endblock %}
