{% extends 'common/base.html' %}
{% load staticfiles %}
{% load i18n %}
{% block content %}
    <div class="header">
        <div class="container">
            <h1 class="cloudpebble-logo">
                <span class="cloudpebble-logo-cloud">Cloud</span><span class="cloudpebble-logo-pebble">Pebble</span>
            </h1>
            <div class="header-right">
                {% block headercontent %}{% endblock %}
            </div>
        </div>
    </div>
    {% block precontent %}{% endblock %}
    <div class="container narrow-container">
        {% block narrowcontent %}{% endblock %}
    </div>
    {% block postcontent %}{% endblock %}
    <div class="footer">
        <div class="container">
            <p class="small-print">
                {% get_current_language as lang %}
                {% trans "CloudPebble was created by Katharine Berry and is now run by Pebble." %}
                {% if lang == 'en' %}
                <br>Questions? Email us at <a href="mailto:cloudpebble@getpebble.com">cloudpebble@getpebble.com</a>.
                {% endif %}
                {% blocktrans with cookie="https://getpebble.com/legal/cookies/" privacy="https://getpebble.com/legal/privacy/" %}See our <a href="{{ cookie }}" target="_blank">cookie</a> and <a href="{{ privacy }}" target="_blank">privacy</a> policies.{% endblocktrans %}
            </p>
            <div class="pebble-logo">
               <a href="http://pbldev.io/" target="_blank"><img src="{% static 'root/images/pebble.png' %}"></a>
            </div>
            <form action="/i18n/setlang/" method="post" id="lang-select-form" class="lang-select">
                {% csrf_token %}
                <select name="language" onchange="$('#lang-select-form').submit();">
                    {% get_language_info_list for LANGUAGES as languages %}
                    {% for language in languages %}
                    <option value="{{ language.code }}"{% if language.code == LANGUAGE_CODE %} selected{% endif %}>
                        {{ language.name_local }}
                    </option>
                    {% endfor %}
                </select>
            </form>
        </div>
    </div>
{% endblock content %}
