<!-- Compilation pane -->
<div id="compilation-pane-template" class="hide compilation-pane">
    <div id="last-compilation" class="hide">
        <div class="hide well" id="run-on-phone">
            <form class="form-horizontal">
                <div class="control-group text-center phone-listing">
                    <label class="control-label" for="phone">Phone</label>
                    <div class="controls">
                        <select id="phone">
                            <option>Loading...</option>
                        </select>
                        <div class="help-block phone-listing">
                            <a href="#" id="show-legacy-link">Not listed? Enter phone IP manually.</a>
                        </div>
                    </div>
                </div>
                <!-- Legacy manual entry -->
                <div class="control-group text-center hide legacy-ip">
                    <label class="control-label" for="phone-ip">Phone IP</label>
                    <div class="controls">
                        <input type="text" id="phone-ip" placeholder="10.0.0.153">
                        <div class="help-block legacy-ip-hide">
                            Requires that the Pebble app be running on your phone with Developer Mode enabled.<br>
                            <a href="#" id="show-phone-list-link">Show phone list.</a>
                        </div>
                    </div>
                </div>
                <hr>

                <div>
                    <button class="btn btn-primary" id="install-on-phone-btn">Install and Run</button>
                    <button class="btn" id="show-app-logs-btn">View app logs</button>
                    <button class="btn" id="screenshot-btn">Screenshot</button>
                </div>
            </form>
        </div>
    </div>
    <div class="well">
        <h3>Last build</h3>
        <div class="hide" id="last-compilation-qr-code">
            <img src="">
        </div>
        <div class="build-stats">
            <p><label>Started:</label> <span id="last-compilation-started">April 17, 2013, 11:50 a.m.</span></p>
            <p id="last-compilation-time"><label>Build time:</label> <span>0.98 seconds</span></p>
            <p><label>Status:</label> <span id="last-compilation-status" class="label label-success">Successful</span></p>
            <p id="last-compilation-size" class="hide"><label>Size:</label> <span class="total">27</span> KiB (<span class="res">10</span> KiB resources,
                <span class="bin">17</span> KiB binary<span class="worker">, <span>n</span> KiB worker</span>)</p>
            <p id="last-compilation-memory" class="hide"><label>Available RAM:</label> <span class="free-bytes"></span> / <span class="available-bytes">24576</span> bytes (<span class="free-pct"></span>%)</p>
        </div>
        <hr>
        <div class="build-buttons">
            <button class="btn btn-affirmative" id="compilation-run-build-button">Run build</button>
            <a id="last-compilation-pbw" href="#" class="btn hide">Get PBW</a>
            <a id="last-compilation-log" class="btn hide" href="#">Build log</a>
        </div>
    </div>
    <div class="well">
        <table class="table build-results">
            <thead>
                <tr>
                    <th>#</th>
                    <th>Date</th>
                    <th>Status</th>
                    <th>Size</th>
                    <th colspan="2"></th>
                </tr>
            </thead>
            <tbody id="run-build-table">
            </tbody>
        </table>
    </div>
</div>
