{% load i18n %}
<!-- Compilation pane -->
<div id="compilation-pane-template" class="hide compilation-pane">
    <div id="last-compilation" class="hide">
        <div class="hide well" id="run-on-phone">
            <form class="form-horizontal">
                <div class="control-group text-center">
                    <p>
                        {% blocktrans %}Make sure that the Developer Connection is enabled on your phone, and you are
running at least iOS app version 2.5 or Android version 2.1 (beta).{% endblocktrans %}
                    </p>
                </div>
                <hr>

                <div>
                    <button class="btn btn-primary" id="install-on-phone-btn">{% trans 'Install and Run' %}</button>
                    <button class="btn" id="show-app-logs-btn">{% trans 'View app logs' %}</button>
                    <button class="btn" id="screenshot-btn">{% trans 'Screenshot' %}</button>
                </div>
            </form>
        </div>
    </div>
    <div class="well">
        <h3>{% trans 'Last build' %}</h3>
        <div class="hide" id="last-compilation-qr-code">
            <img src="">
        </div>
        <div class="build-stats">
            <p><label>{% trans 'Started:' %}</label> <span id="last-compilation-started">April 17, 2013, 11:50 a.m.</span></p>
            <p id="last-compilation-time"><label>{% trans 'Build time:' %}</label> <span>0.98 seconds</span></p>
            <p><label>{% trans 'Status:' %}</label> <span id="last-compilation-status" class="label label-success">Successful</span></p>
            <p id="last-compilation-size" class="hide"><label>{% trans 'Size:' %}</label> <span class="text"></span></p>
            <p id="last-compilation-app-memory" class="hide"><label>{% trans 'Available App RAM:' %}</label> <span class="text"></span></p>
            <p id="last-compilation-worker-memory" class="hide"><label>{% trans 'Available Worker RAM:' %}</label> <span class="text"></span></p>
        </div>
        <hr>
        <div class="build-buttons">
            <button class="btn btn-affirmative" id="compilation-run-build-button">{% trans 'Run build' %}</button>
            <a id="last-compilation-pbw" href="#" class="btn hide">{% trans 'Get PBW' %}</a>
            <a id="last-compilation-log" class="btn hide" href="#">{% trans 'Build log' %}</a>
        </div>
    </div>
    <div class="well">
        <table class="table build-results">
            <thead>
                <tr>
                    <th>{% trans '#' context 'number symbol' %}</th>
                    <th>{% trans 'Date' %}</th>
                    <th>{% trans 'Status' %}</th>
                    <th>{% trans 'Size' %}</th>
                    <th colspan="2"></th>
                </tr>
            </thead>
            <tbody id="run-build-table">
            </tbody>
        </table>
    </div>
</div>
