{% load i18n %}
<!-- Compilation pane -->
<div id="dependencies-pane-template" class="hide dependencies-pane">
    <div class="well alert alert-error hide"></div>

    <div class="well">
        <h3>{% trans 'NPM Dependencies' %}</h3>
        <form id="dependencies-search-form">
            <textarea id="dependencies-search" rows="1" cols="50"></textarea>
        </form>
        <p class="help-block">{% trans 'Try searching for the keyword "pebble-package" to get a list of all published Pebble packages' %}</p>

        <br><br>
        <form id="dependencies-form">
            <table id="dependencies-table"></table>
        </form>
    </div>

    <div class="well" id="cloudpebble-dependencies">
        <h3>{% trans 'CloudPebble project dependencies' %}</h3>
        <form id="cloudpebble-dependencies-form">
            <table class="table hide checkbox-table" id="cloudpebble-dependencies-table">
                <thead>
                <tr>
                    <th colspan="2">Name</th>
                    <th>Version</th>
                    <th>Last built</th>
                    <th></th>
                </tr>
                </thead>
                <tbody></tbody>
            </table>
        </form>
        <p class="hide" id="cloudpebble-dependencies-no-packages">{% trans 'You do not have any package projects in CloudPebble.' %}</p>
        <hr>
        <button data-content="{% trans 'Refresh the list of projects to show any new package projects you have created.' %}"
            class="btn btn-primary" id="cloudpebble-dependencies-refresh"> {% trans 'Refresh' %}</button>
    </div>

    <div class="well hide" id="dependencies-headers">
        <h3>{% trans 'Headers' %}</h3>
        <table class="table">
            <thead>
            <tr>
                <th>{% trans 'Library' %}</th>
                <th class="dependencies-headers-version">{% trans 'Version' %}</th>
                <th>{% trans 'Headers' %}</th>
            </tr>
            </thead>
            <tbody>
            </tbody>
        </table>
        <hr>
        <button data-content="{% trans 'Update the list of headers to reflect changes in any packages.' %}"
                class="btn btn-primary" id="dependencies-refresh">Refresh</button>
    </div>

    <div class="well settings-pane hide">
        <h3>Searchbox Options</h3>
        <div class="form-horizontal">
            <div class="control-group">
                <label class="control-label" for="dependency-option-smallest-first">Smallest First</label>
                <div class="controls">
                    <input type="checkbox" id="dependency-option-smallest-first" checked>
                    <span class="help-block">
                        If suggestions have equal scores, sort by smallest-first
                    </span>
                </div>
            </div>
            <div class="control-group">
                <label class="control-label" for="dependency-option-show-spinner">Show spinner</label>
                <div class="controls">
                    <input type="checkbox" id="dependency-option-show-spinner" checked>
                    <span class="help-block">
                        Show a spinner during HTTP search requests
                    </span>
                </div>
            </div>
            <div class="control-group">
                <label class="control-label" for="dependency-option-use-cache">Cache</label>
                <div class="controls">
                    <input type="checkbox" id="dependency-option-use-cache" checked>
                    <span class="help-block">
                        Enable showing results from the module cache
                    </span>
                </div>
            </div>
            <div class="control-group">
                <label class="control-label" for="dependency-option-immediate-results">Immediate</label>
                <div class="controls">
                    <input type="checkbox" id="dependency-option-immediate-results">
                    <span class="help-block">
                        Show suggestions from the module cache before the new HTTP request returns
                    </span>
                </div>
            </div>
        </div>
    </div>
</div>
