{% load i18n %}
<!-- Compilation pane -->
<div id="dependencies-pane-template" class="hide dependencies-pane">
    <div class="well alert alert-error fixed-well hide"></div>
    <div class="well">
        <h3>{% trans 'Dependencies' %}</h3>
        <form id="dependencies-search-form">
            <textarea id="dependencies-search" rows="1" cols="50"></textarea>
        </form>

        <br><br>
        <form id="dependencies-form">
            <table id="dependencies-table"></table>
        </form>
    </div>
</div>
