{% load i18n %}

<div id="monkey-editor-template" class="monkey-pane">
  <h2>Test Screenshots</h2>

    <div class="monkey-image-controls">
  <input type="file">
        <button class="btn btn-large">Upload</button>
    </div><div class="monkey-screenshots" style="
">
<div class="image-resource-preview">
  <img src="/static/common/img/screenshot.png"><span><input type="text" placeholder="Name"></span></div>


<div class="image-resource-preview">
  <img src="/static/common/img/screenshot.png"><input type="text" placeholder="Name"></div><div class="image-resource-preview">
  <img src="/static/common/img/screenshot.png"><input type="text" placeholder="Name"></div><div class="image-resource-preview">
  <img src="/static/common/img/screenshot.png"><input type="text" placeholder="Name"></div></div>

</div>