{% load i18n %}

{#<div id="monkey-screenshot-manager-template" class="monkey-pane aplite-only monkey-inline hide">#}
<div id="monkey-screenshot-manager-template" class="monkey-pane hide">
    <div class="errors">

    </div>
    <h2>Test Screenshots
            {% for platform in supported_platforms %}
            <span class="platform-{{ platform }}"> - <span class="monkey-select-platform" data-platform="{{ platform }}">{{ platform }}</span></span>
            {%  endfor %}
    </h2>

    <div class="monkey-platforms">
    {% for platform in supported_platforms %}
        <div class="monkey-select-platform" data-platform="{{ platform }}">{{ platform }}</div>
    {%  endfor %}
    </div>

    <div class="progress progress-striped active">
        <div class="bar" style="width: 100%;"></div>
    </div>

    <form class="monkey-form" id="monkey-form">
        <div class="monkey-screenshots">
            <div class="monkey-screenshot-set hide">
                {% for platform in supported_platforms %}
                <div class="image-resource-preview platform-{{ platform }} screenshot-empty" data-platform="{{ platform }}" >
                    <img src="/static/common/img/screenshot-empty.png">
                    <input type="file" class="hide" multiple >
                    <button class="btn delete-btn" type="button"></button>
                </div>
                {%  endfor %}
                <div class="monkey-screenshot-title hide">
                    <input class="monkey-editing " type="text" placeholder="{% trans "Screenshot name" %}" required="required" pattern="[a-zA-Z0-9_-]+">
                    <span class="settings-status-icons">
                        <span class="monkey-changed icon-edit hide"></span>
                    </span>
                </div>
            </div>
        </div>
    </form>


    <div class="monkey-form-buttons">
        <button class="btn btn-affirmative" type="submit" form="monkey-form">Save</button>
        <button class="btn btn-cancel">Reset</button>
    </div>
</div>
