{% load i18n %}
<!-- Compilation pane -->
<div id="media-pane-template" class="hide media-pane resource-pane">
    <div class="well alert alert-error hide"></div>
    <form class="form-horizontal">
    </form>

    <div class="well">
        <button type="button" class="btn" id="add-published-media">
            <span class="non-font-only">{% trans 'Add New' %}</span>
        </button>
    </div>
</div>

<div class="well hide media-item" id="media-item-template" >
    <div class="control-group">
        <label class="control-label">{% trans 'Identifier' %}</label>
        <div class="controls">
            <input type="text" class="edit-media-name" placeholder="EXAMPLE_ICON" pattern="[A-Za-z0-9_]+">
            <span class="help-block">{% trans 'This is used in your code and must be a valid C identifier.' %}</span>
        </div>
    </div>
    <div class="control-group">
        <label class="control-label">{% trans 'Numeric ID' %}</label>
        <div class="controls">
            <input type="number" class="edit-media-id" min="0" value="0"/>
            <span class="help-block">{% trans 'Insert explanation here' %}</span>
        </div>
    </div>
    <div class="control-group">
        <label class="control-label">{% trans 'Glance' %}</label>
        <div class="controls">
            <select class="edit-media-glance media-resource-selector media-optional-selector"></select>
            <span class="help-block">{% trans 'Insert explanation here' %}</span>
        </div>
    </div>
    <div class="control-group controls">
        <label style="width: 250px" class="control-label">{% trans 'Specify Timeline Icons' %}
            <span class="text-icon" data-content="{% trans 'Insert explanation here' %}">?</span>
        </label>
        <input type="checkbox" class="edit-media-timeline form-section-toggle"> <p></p>

        <div class="form-toggleable-section">
            <div class="edit-media-timeline-options">
                <br/>

                <div class="control-group">
                    <label class="control-label">{% trans 'Tiny' %}</label>
                    <select class="edit-media-timeline-tiny media-resource-selector"></select>
                </div>
                <div class="control-group">
                    <label class="control-label">{% trans 'Small' %}</label>
                    <select class="edit-media-timeline-small media-resource-selector"></select>
                </div>
                <div class="control-group">
                    <label class="control-label">{% trans 'Large' %}</label>
                    <select class="edit-media-timeline-large media-resource-selector"></select>
                </div>
            </div>
        </div>
    </div>
</div>