{% load i18n %}
<!-- Resource editing template -->
<div id="resource-pane-template" class="hide resource-pane">
    <form class="form-horizontal">
        <div class="well alert alert-error hide"></div>
        <div class="well">
            <div class="control-group">
                <label class="control-label" for="edit-resource-type">{% trans 'Resource type' %}</label>
                <div class="controls">
                    <select id="edit-resource-type">
                        <option value="bitmap">{% trans 'Bitmap Image' %}</option>
                        {% if project.is_standard_project_type  %}
                            <option value="font">{% trans 'TrueType font' %}</option>
                            <option value="raw">{% trans 'Raw binary blob' %}</option>
                        {% endif %}

                        <option value="png">{% trans 'PNG image (deprecated)' %}</option>
                        {% if project.is_standard_project_type %}
                            <option value="png-trans">{% trans 'PNG with transparency (deprecated)' %}</option>
                            {% if project.sdk_version == '3' %}
                                <option value="pbi">{% trans '1-bit Pebble image (deprecated)' %}</option>
                            {% endif %}
                        {% endif %}
                    </select>
                </div>
            </div>

            <div class="control-group" id="edit-resource-file-name_section">
                <label class="control-label" for="edit-resource-file-name">{% trans 'File name' %}</label>
                <div class="controls">
                    <input type="text" id="edit-resource-file-name" name="file_name" pattern="{{regexes.resource_file_name}}">
                </div>
            </div>
        </div>

        <div id="resource-id-group">
            <div class="well resource-id-group-single">
                <div class="control-group">
                    <label class="control-label">{% trans 'Identifier' %}</label>
                    <div class="controls">
                        {# TODO: placeholder/pattern thingybobs #}
                        <input type="text" class="span6 edit-resource-id font-only" placeholder="FONT_EXAMPLE_BOLD_SUBSET_24" pattern="[A-Za-z0-9_]*[0-9]+">
                        <input type="text" class="span6 edit-resource-id non-font-only" placeholder="IMAGE_EXAMPLE_IDENTIFIER" pattern="{{ regexes.c_identifier }}">
                        <span class="help-block">{% trans 'This is used in your code and must be a valid C identifier.' %}<br>
                            <span class="font-only">{% trans 'It must end with the desired font size.' %}</span>
                        </span>
                    </div>
                </div>
                <div class="control-group font-resource-regex-group font-only">
                    <label class="control-label">{% trans 'Characters' context "like letters and numbers" %}</label>
                    <div class="controls">
                        <input type="text" class="span4 edit-resource-regex" placeholder="[0-9:. ]">
                        <span class="help-block">{% trans 'A PCRE regular expression that restricts characters.' %}</span>
                    </div>
                </div>
                <div class="control-group font-resource-tracking-group font-only">
                    {# Translators: This refers to the number of additional pixels by which to shift each character #}
                    <label class="control-label">{% trans 'Tracking adjust' %}</label>
                    <div class="controls">
                        <input type="number" class="span1 edit-resource-tracking" value="0">
                        <span class="help-block">{% trans 'Number of additional pixels by which to shift each character.' %}</span>
                    </div>
                </div>
                <div class="control-group font-resource-compatibility-group font-only">
                    <label class="control-label">{% trans 'Compatibility' %}</label>
                    <div class="controls">
                        <select class="font-compat-option">
                            <option value="">{% trans "Latest" %}</option>
                            <option value="2.7">{% trans "2.7 and earlier" %}</option>
                        </select>
                        <span class="help-block">{% trans 'Determines the font rendering algorithm to use. The latest looks better, but can produce slightly larger characters.' %}</span>
                    </div>
                </div>
                <div class="control-group bitmap-only">
                    <label class="control-label">{% trans 'Memory Format' %}</label>
                    <div class="controls">
                        <select class="bitmap-memory-format-option">
                            <option value="">{% trans "Best" %}</option>
                            <option value="Smallest">{% trans "Smallest" %}</option>
                            <option value="SmallestPalette">{% trans "Smallest Palette" %}</option>
                            <option value="1Bit">{% trans "1-bit" %}</option>
                            <option value="8Bit">{% trans "8-bit" %}</option>
                            <option value="1BitPalette">{% trans "1-bit Palette" %}</option>
                            <option value="2BitPalette">{% trans "2-bit Palette" %}</option>
                            <option value="4BitPalette">{% trans "4-bit Palette" %}</option>
                        </select>
                        <span class="help-block">{% trans 'Determines the bitmap type.' %}</span>
                        {# TODO: consider explaining 'best' #}
                        {# TODO: consider linking to developer documentation #}
                    </div>
                </div>
                <div class="control-group bitmap-only">
                    <label class="control-label">{% trans 'Storage Format' %}</label>
                    <div class="controls">
                        <select class="bitmap-storage-format-option">
                            <option value="">{% trans "Best" %}</option>
                            <option value="pbi">{% trans "PBI" %}</option>
                            <option value="png">{% trans "PNG" %}</option>
                        </select>
                        <span class="help-block">{% trans 'Determines the file format used for storage.' %}</span>
                    </div>
                </div>
                <div class="control-group bitmap-only">
                    <label class="control-label">{% trans 'Space Optimisation' %}</label>
                    <div class="controls">
                        <select class="bitmap-space-optimisation-option">
                            <option value="">{% trans "Best" %}</option>
                            <option value="storage">{% trans "Storage" %}</option>
                            <option value="memory">{% trans "Memory" %}</option>
                        </select>
                        <span class="help-block">{% trans 'Determines whether the output resource is optimised for low runtime memory or low resource space usage.' %}</span>
                    </div>
                </div>

                <div class="resource-targets-section sdk3-only native-only">
                    <div class="control-group controls">
                        <label style="width: 250px" class="control-label">{% trans 'Target platforms' %}
                            <span class="text-icon" data-content="{% trans "Use the Target Platforms option when you want a specific resource ID to only be available for specific platforms. <br> If you want this resource to be available on multiple platforms but with different files, upload additional images and tag them." %}">?</span>
                        </label>
                        <input type="checkbox" class="edit-resource-target-platforms-enabled"> <p></p>

                        <div class="edit-resource-targets">
                            <div class="edit-resource-target-options">
                                <br/>
                            {% for platform in  supported_platforms %}
                                <div class="control-group">
                                    <label class="control-label" for="edit-resource-target-{{ platform }}">{{ platform | capfirst }}</label>
                                    <input type="checkbox" class="edit-resource-target-{{ platform }}">
                                </div>
                            {% endfor %}
                            </div>
                        </div>
                    </div>
                </div>
                <button type="button" class="btn btn-small btn-danger btn-delete-well btn-delidentifier">{% trans 'Delete Identifier' %}</button>
            </div>
        </div>

        <div class="well image-platform-preview hide sdk3-only">
            <h4>{% trans 'Preview per platform' %}</h4>
            <p class="help-block">{% trans "Given the tags for each variant, this shows the final version selected for each platform." %}</p>
            <div class="pane-boxes pane-3-boxes ">
                {% for platform in supported_platforms %}
                <div id="resource-image-preview-for-{{ platform }}">
                    <h4>{{ platform | capfirst }}</h4>
                    <span></span>
                    <img src="">
                </div>
                {% endfor %}
            </div>
            <div style="clear: both;"></div>
        </div>

        <div id="edit-resource-previews">

        </div>

        <div id="edit-image-resource-preview-template" class="hide">
            <div class="image-resource-preview-pane well">
                <div class="control-group image-resource-preview">
                    <label class="control-label">
                        {%  trans 'Image preview' %}
                    </label>
                    <div class="controls">
                        <img src=""><p class="image-resource-preview-dimensions">52x52</p>
                    </div>
                </div>
                <div class="tag-edit control-group sdk3-only">
                {# TODO: support for/id #}
                    <label class="control-label">Tags</label>
                    <div class="controls">
                        <textarea class="resource-tags" rows="1" cols="60"></textarea>
                    </div>
                </div>
                <div class="variant-platform-preview control-group sdk3-only">
                    <label class="control-label">Final platforms</label>
                    <div class="controls label-list"></div>
                </div>
                <div class="control-group">
                    <label class="control-label">{% trans 'Replace file' %}</label>
                    <div class="controls">
                        <input type="file" class="edit-resource-replace-file">
                    </div>
                </div>
                <button type="button" class="btn btn-small btn-danger btn-delete-well btn-delvariant">{% trans 'Delete Variant' %}</button>
            </div>
        </div>

        <div id="edit-raw-resource-preview-template" class="hide">
            <div class="raw-resource-preview-pane well">
                <div class="control-group ">
                    <label class="control-label">
                        Resource
                    </label>
                    <div class="controls resource-download-link">
                        <a href="#" class="btn">{% trans 'Download uploaded resource' %}</a>
                    </div>
                </div>

                <div class="tag-edit control-group sdk3-only">
                {# TODO: support for/id #}
                    <label class="control-label">Tags</label>
                    <div class="controls">
                        <textarea class="resource-tags" rows="1" cols="60"></textarea>
                    </div>
                </div>
                <div class="variant-platform-preview control-group sdk3-only">
                    <label class="control-label">{% trans 'Final platforms' %}</label>
                    <div class="controls label-list"></div>
                </div>
                <div class="control-group">
                    <label class="control-label">{% trans 'Replace file' %}</label>
                    <div class="controls">
                        <input type="file" class="edit-resource-replace-file">
                    </div>
                </div>
                <button type="button" class="btn btn-small btn-danger btn-delete-well btn-delvariant">{% trans 'Delete Variant' %}</button>
            </div>
        </div>

        <div class="well" id="edit-resource-new-file">
            <div class="control-group">
                <label class="control-label" for="edit-resource-file">{% trans 'Upload new file' %}</label>
                <div class="controls">
                    <input type="file" id="edit-resource-file">
                </div>
            </div>
            <div class="tag-edit control-group sdk3-only">
                <label class="control-label">Tags</label>
                <div class="controls">
                    <textarea id="new-resource-tags" class="resource-tags" rows="1" cols="60"></textarea>
                </div>
            </div>
            <div class="variant-platform-preview control-group sdk3-only">
                <label class="control-label">Final platforms</label>
                <div class="controls label-list"></div>
            </div>
        </div>

        <div id="edit-resource-buttons" class="well resource-actions">
            <button type="submit" class="btn btn-affirmative">{% trans 'Save' %}</button>
            <button type="button" class="btn btn-danger hide" id="edit-resource-delete">{% trans 'Delete' %}</button>
            <button type="button" class="btn hide" id="add-resource-id">
                <span class="font-only">{% trans 'Another font' %}</span>
                <span class="non-font-only">{% trans 'Another Identifer' %}</span>
            </button>
        </div>
    </form>

</div>
