{% load i18n %}
<!-- Settings template -->
<div id="settings-pane-template" class="hide settings-pane">
    <div class="well alert alert-error hide fixed-well"></div>
    <form class="form-horizontal">
        <div class="well">
            <div class="control-group">
                <label class="control-label" for="settings-name">{% trans 'Project name' %}</label>
                <div class="controls">
                    <input type="text" id="settings-name">
                </div>
            </div>
            <div class="control-group">
                <label class="control-label">{% trans 'Project type' %}</label>
                <div class="static">
                    {{project.get_project_type_display}}
                </div>
            </div>
            <div class="sdk-version native-only control-group">
                <label class="control-label" for="settings-sdk-version">{% trans "SDK Version" %}</label>
                <div class="controls">
                    <select id="settings-sdk-version">
                        <option value="2" {% if project.sdk_version == '2' %}selected{% else %}disabled{% endif %}>{% trans 'SDK 2 (obsolete)' %}</option>
                        <option value="3" {% if project.sdk_version == '3' %}selected{% endif %}>{% trans 'SDK 4' %}</option>
                    </select>
                    <span class="help-block">You should reload the page after changing and saving this setting.</span>
                </div>
            </div>
        </div>
        <div class="well sdk3-only">
            <div class="control-group supports-aplite">
                {# Translators: "Aplite" is a platform name and should be left untranslated. #}
                <label class="control-label" for="settings-build-aplite">{% trans 'Build Aplite' %}</label>
                <div class="controls">
                    <input type="checkbox" id="settings-build-aplite" {% if not project.app_platforms or 'aplite' in project.app_platform_list %}checked{% endif %}>
                    <span class="help-block">
                        {% trans "If enabled, your app will be built to run on Pebble and Pebble Steel watches." %}
                    </span>
                </div>
            </div>
            <div class="control-group">
                {# Translators: "Basalt" is a platform name and should be left untranslated. #}
                <label class="control-label" for="settings-build-basalt">{% trans 'Build Basalt' %}</label>
                <div class="controls">
                    <input type="checkbox" id="settings-build-basalt" {% if not project.app_platforms or 'basalt' in project.app_platform_list %}checked{% endif %}>
                    <span class="help-block">
                        {# Translators: "aplite" is a platform name and should be left untranslated. #}
                        {% trans "If enabled, your app will be built to run on Pebble Time watches." %}
                    </span>
                </div>
            </div>
            <div class="control-group" >
                {# Translators: "Chalk" is a platform name and should be left untranslated. #}
                <label class="control-label" for="settings-build-chalk">{% trans 'Build Chalk' %}</label>
                <div class="controls">
                    <input type="checkbox" id="settings-build-chalk" {% if not project.app_platforms or 'chalk' in project.app_platform_list %}checked{% endif %}>
                    <span class="help-block">
                        {% trans "If enabled, your app will be built to run on Pebble Round watches." %}
                    </span>
                </div>
            </div>
            <div class="control-group not-pebblejs">
                {# Translators: "Diorite" is a platform name and should be left untranslated. #}
                <label class="control-label" for="settings-build-diorite">{% trans 'Build Diorite' %}</label>
                <div class="controls">
                    <input type="checkbox" id="settings-build-diorite" {% if not project.app_platforms or 'diorite' in project.app_platform_list %}checked{% endif %}>
                    <span class="help-block">
                        {% trans "If enabled, your app will be built to run on Pebble 2 watches." %}
                    </span>
                </div>
            </div>
            <div class="control-group not-pebblejs">
                {# Translators: "Emery" is a platform name and should be left untranslated. #}
                <label class="control-label" for="settings-build-emery">{% trans 'Build Emery' %}</label>
                <div class="controls">
                    <input type="checkbox" id="settings-build-emery" {% if not project.app_platforms or 'emery' in project.app_platform_list %}checked{% endif %}>
                    <span class="help-block">
                        {% trans "If enabled, your app will be built to run on Pebble Time 2 watches." %}
                    </span>
                </div>
            </div>
        </div>
        <div>
            <div class="well">
                <div class="control-group not-simplyjs not-package">
                    <label class="control-label" for="settings-app-is-watchface">{% trans 'App kind' %}</label>
                    <div class="controls">
                        <select id="settings-app-is-watchface">
                            <option value="0"{% if not project.app_is_watchface %}selected{% endif%}>{% trans 'Watchapp' %}</option>
                            <option value="1"{% if project.app_is_watchface %}selected{% endif%}>{% trans 'Watchface' %}</option>
                        </select>
                    </div>
                </div>
                <div class="control-group not-simplyjs not-package">
                    <label class="control-label" for="settings-app-visibility">{% trans 'App Visibility' %}</label>
                    <div class="controls">
                        <select id="settings-app-visibility">
                            <option value="visible"{% if not project.app_is_hidden and not project.app_is_shown_on_communication %}selected{% endif%}>{% trans 'Always Visible' %}</option>
                            <option value="hidden"{% if project.app_is_hidden %}selected{% endif%}>{% trans 'Always Hidden' %}</option>
                            <option value="show_on_comms" {% if not project.project_type == 'native' %}style="display:none"{% endif %} {% if project.app_is_shown_on_communication %}selected{% endif%}>{% trans 'Only Visible When Companion App Running' %}</option>
                        </select>
                        <span class="help-block">
                            {% trans "The visibility of your app in the app launcher menu." %}
                        </span>
                    </div>
                </div>
                {% if project.project_type == 'package' %}
                <div class="control-group">
                    <label class="control-label" for="settings-short-name">{% trans 'Package Name' %}</label>
                    <div class="controls">
                        <input type="text" id="settings-short-name" placeholder="{% trans 'Demo Package' context "sample package name" %}" value="{{project.app_short_name}}">
                        <span class="help-block">
                            {% trans "Package name. This will be the name of the package when published in NPM." %}
                        </span>
                    </div>
                </div>
                {% else %}
                <div class="control-group">
                    <label class="control-label" for="settings-short-name">{% trans 'Short App Name' %}</label>
                    <div class="controls">
                        <input type="text" id="settings-short-name" placeholder="{% trans 'Demo App' context "sample app name" %}" value="{{project.app_short_name}}">
                        <span class="help-block">
                            {% trans "App's short name. This will appear on the watch." %}
                        </span>
                    </div>
                </div>
                {% endif %}
                <div class="control-group not-package">
                    <label class="control-label" for="settings-long-name">{% trans 'Long App Name' %}</label>
                    <div class="controls">
                        <input type="text" id="settings-long-name" placeholder="{% trans 'Demo App' context "sample app name" %}" value="{{project.app_long_name}}">
                        <span class="help-block">
                            {% trans "App's long name. This will appear in the app list on the phone." %}
                        </span>
                    </div>
                </div>
                <div class="control-group not-simplyjs not-package">
                    <label class="control-label" for="settings-menu-image">{% trans 'Menu image' %}</label>
                    <div class="controls">
                        <select id="settings-menu-image">
                            <option value="">{% if project.project_type == 'native' %}{% trans 'None' %}{% else %}{% trans 'Default' %}{% endif %}</option>
                        </select>
                        <span class="help-block">
                            {% if project.sdk_version == '2' %}
                                {% trans "Displayed on the Pebble's main menu. Must be a 28x28 file in PNG format." %}
                            {% else %}
                                {% trans "Displayed on the Pebble's main menu. Must be a 25x25 file in PNG format." %}
                            {% endif %}
                        </span>
                    </div>
                </div>
                <div class="control-group">
                    <label class="control-label" for="settings-company-name">{% trans "Company Name" %}</label>
                    <div class="controls">
                        <input type="text" id="settings-company-name" placeholder="{% trans "Demo Company" context "sample company name" %}" value="{{project.app_company_name}}">
                        <span class="help-block">
                            {% trans "Name of the app's developer." %}
                        </span>
                    </div>
                </div>
                <div class="control-group">
                    <label class="control-label" for="settings-version-label">{% trans "Version label" %}</label>
                    <div class="controls">
                        {% if project.project_type != 'package' %}
                            <input type="text" id="settings-version-label" placeholder="0.1" value="{{project.app_version_label}}" pattern="{{ regexes.sdk_version }}">
                            <span class="help-block">
                                {% trans "App version. Takes the format major[.minor], where major and minor are between 0 and 255." %}
                            </span>
                        {% else %}
                            <input type="text" id="settings-version-label" placeholder="0.1.0" value="{{project.semver}}" pattern="{{ regexes.semver }}">
                            <span class="help-block">
                                {% trans "Pacakge version. Takes the format major.minor.patch, where each is a number between 0 and 255." %}
                            </span>
                        {% endif %}
                    </div>
                </div>
                <div class="control-group">
                    <label class="control-label" for="settings-uuid">{% trans "App UUID" %}</label>
                    <div class="controls">
                        <div class="settings-uuid-control">
                            <input type="text" id="settings-uuid" pattern="{{ regexes.uuid }}" placeholder="00000000-0000-0000-0000-000000000000" value="{{project.app_uuid}}">
                            <button type="button" id="uuid-generate" class="btn btn-small">{% trans "Generate" %}</button>
                        </div>
                        <span class="help-block">
                            {% trans "A unique identifier for the app. Takes the format xxxxxxxx-xxxx-4xxx-yxxx-xxxxxxxxxxxx, where x is any hexadecimal digit and y is one of 8, 9, A, or B" %}
                        </span>
                    </div>
                </div>
                <div class="control-group native-only sdk3-only">
                    <label class="control-label" for="settings-modern-multi-js">{% trans 'JS Handling' %}</label>
                    <div class="controls">
                        <select id="settings-modern-multi-js">
                            <option value="1" {% if project.app_modern_multi_js %}selected{% endif%}>{% trans 'CommonJS-style' %}</option>
                            <option value="0" {% if not project.app_modern_multi_js %}selected{% endif%}>{% trans 'Concatenation (deprecated)' %}</option>
                        </select>
                    </div>
                        <span class="help-block">
                            {% trans "CommonJS-style enables you to <code>require()</code> other files; concatenation makes them into a single JS file." %}
                        </span>
                </div>
            </div>
            <div class="well supports-message-keys">
                <div class="control-group not-rocky sdk3-only">
                    <label class="control-label" for="settings-message-key-kind">{% trans 'Message key assignment kind' %}</label>
                    <div class="controls">
                        <select id="settings-message-key-kind">
                            <option value="1" {% if project.uses_array_message_keys %}selected{% endif%}>{% trans 'Automatic assignment' %}</option>
                            <option value="0" {% if not project.uses_array_message_keys %}selected{% endif%}>{% trans 'Manual assignment (deprecated)' %}</option>
                        </select>
                    </div>
                </div>
                <div class="control-group supports-message-keys">
                    <label class="control-label" for="settings-app-keys">{% trans "PebbleKit JS Message Keys" %}</label>
                    <div class="controls">
                        <table id="settings-app-keys">
                        </table>
                        <div class="help-block">
                            {% trans "A mapping from strings to integers used by PebbleKit JS." %}
                        </div>
                    </div>
                </div>
            </div>
            <div class="well">
                <div class="control-group supports-jslint">
                    <label class="control-label" for="settings-app-jshint">{% trans "Check Javascript" context "checkbox label" %}</label>
                    <div class="controls">
                        <input type="checkbox" id="settings-app-jshint" {%if project.app_jshint%}checked{%endif%}>
                    </div>
                </div>
                <div class="control-group">
                    <label class="control-label" for="settings-capabilities-location">{% trans "Uses Location" context "checkbox label" %}</label>
                    <div class="controls">
                        <input type="checkbox" id="settings-capabilities-location" {%if 'location' in project.app_capabilities%}checked{%endif%}>
                    </div>
                </div>
                <div class="control-group">
                    <label class="control-label" for="settings-capabilities-configuration">{% trans "Configurable" context "checkbox label" %}</label>
                    <div class="controls">
                        <input type="checkbox" id="settings-capabilities-configuration" {%if 'configurable' in project.app_capabilities%}checked{%endif%}>
                    </div>
                </div>
                <div class="control-group">
                    <label class="control-label" for="settings-capabilities-health">{% trans "Uses Health" context "checkbox label" %}</label>
                    <div class="controls">
                        <input type="checkbox" id="settings-capabilities-health" {%if 'health' in project.app_capabilities%}checked{%endif%}>
                    </div>
                </div>
            </div>
        </div>
        <div class="well form-actions">
            <button type="button" id="project-export-zip" class="btn">{% trans "Download as zip" %}</button>
            <button type="button" id="project-delete" class="btn btn-danger">{% trans "Delete Project" %}</button>
        </div>
    </form>
</div>

<div id="settings-js-migration-prompt" class="modal hide fade" tabindex="-1" role="dialog">
    <div class="modal-header">
        <h3>{% trans 'Enable CommonJS' %}</h3>
    </div>
    <form class="form-horizontal">
        <div class="modal-body">
            <div class="control-group">
                <label class="control-label" for="settings-js-new-entry-point">{% trans 'Entry point' %}</label>
                <div class="controls">
                    <select id="settings-js-new-entry-point">
                    </select>
                </div>
                <div class="help-block">
                    {% trans "You must have an app 'entry point' called <code>app.js</code> to use CommonJS-style JavaScript. Choose one to rename." %}
                </div>
            </div>
        </div>
    </form>
    <div class="modal-footer">
        <button class="btn" data-dismiss="modal">{% trans 'Cancel' %}</button>
        <button class="btn btn-primary" id="settings-js-migration-rename-button">{% trans 'Rename' %}</button>
    </div>
</div>
