<div id="ui-editor-pane-template" class="ui-pane hide">
    <div class="well">
        <div class="ui-canvas"></div>
        <div class="ui-thingies">
            <ul class="nav nav-tabs">
                <li class="active"><a href="#ui-properties" data-toggle="tab">Properties</a></li>
                <li><a href="#ui-toolkit" data-toggle="tab">Toolkit</a></li>
            </ul>
            <div id="ui-properties" class="tab-pane active">
                Properties go here.
            </div>
            <div id="ui-toolkit" class="tab-pane">
                Toolkit goes here.
            </div>
        </div>
        <div style="clear: both;"></div>
    </div>
</div>
