/* Canvas */

.ib-canvas {
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    cursor: default;
}

/* Resizer */

.ib-resizer {
    border: 1px dashed black;
    position: absolute;
    pointer-events: none;
}

.ib-handle {
    position: absolute;
    background-color: white;
    border: 1px solid black;
    height: 4px;
    width: 4px;
    pointer-events: auto;
}

.ib-handle-upper-left {
    cursor: nwse-resize;
    top: -3.5px;
    left: -3.5px;
}

.ib-handle-upper-middle {
    cursor: ns-resize;
    top: -3.5px;
    left: calc(50% - 3.5px);
}

.ib-handle-upper-right {
    cursor: nesw-resize;
    top: -3.5px;
    right: -3.5px;
}

.ib-handle-middle-left {
    cursor: ew-resize;
    top: calc(50% - 3.5px);
    left: -3.5px;
}

.ib-handle-middle-right {
    cursor: ew-resize;
    top: calc(50% - 3.5px);
    right: -3.5px;
}

.ib-handle-lower-left {
    cursor: nesw-resize;
    bottom: -3.5px;
    left: -3.5px;
}

.ib-handle-lower-middle {
    cursor: ns-resize;
    bottom: -3.5px;
    left: calc(50% - 3.5px);
}

.ib-handle-lower-right {
    cursor: nwse-resize;
    bottom: -3.5px;
    right: -3.5px;
}

/* TextLayer */

.ib-textlayer {
    overflow: hidden;
}

/* ActionBarLayer */

.ib-actionbarlayer {
    border-top-left-radius: 3px;
    border-bottom-left-radius: 3px;
}

.ib-actionbarlayer-icon {
    position: absolute;
    left: 1px;
    width: 18px;
    height: 18px;
    text-align: center;
    background-repeat: no-repeat;
    pointer-events: none;
}

.ib-icon-up {
    top: calc(16% - 9px);
}

.ib-icon-select {
    top: calc(50% - 9px);
}

.ib-icon-down {
    top: calc(83% - 9px);
}

/* Toolkit list */

.ib-toolkit-layer {
    cursor: pointer;
}
