/* Temporary, for Android. */
#android-beta-link {
    text-decoration: underline;
}

/* New stuff. */

/* Page layout framework */

/* This disables bouncing in Safari */
html, body {
  height: 100%;
  overflow: hidden;
}

.project-container {
    position: absolute;
    top: 50px;
    bottom: 50px;
    width: 100%;
    background-color: red; /* This should always be completely obscured. */
}

#sidebar {
    background-color: #292929;
    position: absolute;
    top: 0;
    bottom: 0;
    overflow: auto;
    width: 210px;
    font-family: PFD-Regular, 'Helvetica Neue', Helvetica, Arial, sans-serif;
    font-size: large;
    padding-left: 40px;

    -webkit-transition: top 0.5s, padding-top 0.5s;
    -moz-transition: top 0.5s, padding-top 0.5s;
    -ms-transition: top 0.5s, padding-top 0.5s;
    -o-transition: top 0.5s, padding-top 0.5s;
    transition: top 0.5s, padding-top 0.5s;
}

#sidebar.with-emulator {
    top: 230px;
    padding-top: 20px;
}

.header {
    height: 50px;
}

.cloudpebble-logo {
    line-height: 55px;
}

ul.nav-pills {
    line-height: 55px;
}

.footer {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    padding-left: 20px;
    padding-right: 20px;
    overflow: hidden;
    height: 50px;
}

.footer .pebble-logo {
    padding-top: 13px;
}

.footer .pebble-logo img {
    vertical-align: middle;
    margin-top: -6px;
}

.footer .pebble-logo .katharine-at {
    margin-top: 6px;
    display: inline-block;
}

/* Main content */

#pane-parent {
    background: #333333 url('../img/background-logo.png') no-repeat center;
    position: absolute;
    top: 0;
    left: 250px;
    bottom: 0;
    right: 0;
}

#main-pane {
    background: #333333;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    overflow: auto;
}

/* Sidebar */

.nav-list .nav-header {
    text-transform: uppercase;
    color: #767676;
}

.nav-list .active {
    color: white;
    background-color: #333333;
}

.nav-list li.nav-section {
    margin-top: 30px;
}

.nav-list li {
    padding-top: 6px;
    padding-bottom: 6px;
    margin-top: 0;
    margin-bottom: 0;
    margin-left: -10px;
    padding-left: 10px;
    border-bottom-left-radius: 7px;
    border-top-left-radius: 7px;
}

.nav-list .project-name {
    color: #adadad;
    border: 2px solid #333333;
    display: inline-block;
    border-radius: 5px;
    padding: 4px 15px 2px;
    margin-left: -15px;
    margin-bottom: 12px;
}

.nav-list {
    margin: 0;
    padding: 0;
    list-style: none;
}

#worker-files {
    margin-top: 0;
}

/* Emulator */

#emulator-container {
    -webkit-transition: height 0.5s;
    -moz-transition: height 0.5s;
    -ms-transition: height 0.5s;
    -o-transition: height 0.5s;
    transition: height 0.5s;
    width: 250px;
    height: 230px;
    margin-bottom: 20px;
    text-align: center;
    position: absolute;
    top: 0;
    left: 0;
    background-color: #292929;
    background-repeat: no-repeat;
    background-origin: content-box;
    background-position: center -76px;
    background-image: url('../img/pebbles/tintin-black.png');
}

#emulator-container canvas {
    position: absolute;
    top: 28px;
    left: 53px;
    background-color: #aaa;
    height: 168px;
    width: 144px;
}

.qemu-button {
    position: absolute;
    cursor: pointer;
}

.qemu-button.up, .qemu-button.down, .qemu-button.back {
    width: 35px;
    height: 73px;
}

.qemu-button.up {
    top: 5px;
    left: 208px;
}

.qemu-button.select {
    width: 35px;
    height: 37px;
    left: 208px;
    top: 93px;
}

.qemu-button.down {
    top: 147px;
    left: 208px;
}

.qemu-button.back {
    top: 37px;
    left: 8px;
}

#emulator-container .power {
    position: absolute;
    cursor: pointer;
    top: 196px;
    left: 20px;
}

#emulator-container .configure {
    position: absolute;
    cursor: pointer;
    top: 200px;
    right: 53px;
}

/* Editor */

.CodeMirror {
    font-family: Menlo, 'Deja Vu Sans Mono', monospace;
    font-size: 13px;
    line-height: 18px;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 50px;
    height: 100% !important;
}

#editor-button-wrapper {
    position: absolute;
    width: 40px;
    margin-left: 5px;
    margin-right: 5px;
    right: 0;
    top: 0;
    bottom: 0;
}

#editor-button-wrapper .btn {
    margin-top: 10px;
}

.run-btn {
    background: #00B293 url('../img/run.png') no-repeat 15px; /* optically centred */
}

.run-btn:hover {
    background-color: #00B293;
}

.save-btn {
    background: white url('../img/save.png') no-repeat center;
}

.reload-btn {
    background: white url('../img/reload.png') no-repeat center;
}

.delete-btn {
    background: #e5171f url('../img/delete.png') no-repeat center;
}

.ib-btn {
    background: white url('../img/ib.png') no-repeat center;
}

.ib-btn.active {
    background-color: #aaa;
}

.delete-btn:hover {
    background-color: #e5171f;
}

#editor-button-wrapper .btn:hover {
    opacity: 0.8;
}

.muted {
  color: #999999;
}

.CodeMirror-hints {
    background-color: #333333;
    border-color: #292929;
}

.CodeMirror-hint {
    color: white;
}

.save-and-run {
    width: 100%;
    margin-bottom: 20px;
}

.save-and-run > img {
    margin-top: -4px;
}

.popover.doc-popover .popover-content {
    max-height: 400px;
    overflow: scroll;
    font-size: smaller;
    padding-bottom: 0;
}

.doc-popover table th,
.doc-popover table td{
    vertical-align: top;
    padding-right: 10px;
    padding-bottom: 5px;
}

.doc-popover table th {
    color: #aaaaaa;
    font-weight: normal;
    text-align: right;
}
.doc-popover {
    width: 500px;
    max-width: 500px;
    line-height: 16px;
    color: white;
}

.popover-declaration, .popover-params .param-name {
    font-family: Menlo, 'Deja Vu Sans Mono', monospace;
}

.doc-popover p {
    padding: 0;
    margin: 0;
}

.doc-popover tr {
    margin-bottom: 5px;
}

.autocomplete-summary {
    position: absolute;
    height: 20px;
    z-index: 10002;
    background-color: #333;
    border-bottom-left-radius: 3px;
    border-bottom-right-radius: 3px;
    box-shadow: 2px 3px 5px rgba(0,0,0,0.2);
    border: 1px solid #292929;
    padding: 2px;
}

.autocomplete-summary,
.autocomplete-summary > p {
    text-overflow: ellipsis;
    white-space: nowrap;
    text-wrap: none;
    overflow: hidden;
}

/* Settings */

.settings-pane .well {
    margin: 30px;
    padding-left: 30px;
    padding-right: 30px;
    width: 650px;
}

.settings-pane .form-horizontal .control-group label {
    width: 150px;
}

.settings-pane .help-block {
    margin-left: 170px;
}

.settings-pane input:not([type=checkbox]) {
    width: 435px;
}

.settings-pane select {
    width: 450px;
}

#settings-app-keys input[type=text] {
    width: 200px;
    font-family: Menlo, 'Deja Vu Sans Mono', monospace;
    border-radius: 5px;
}

#settings-app-keys input[type=number] {
    width: 100px;
    border-radius: 5px;
}

#settings-app-keys button {
    width: 50px;
}

.remove-appkey {
    font-weight: bold;
}

.settings-pane .form-actions {
    padding-left: 25px;
    padding-right: 25px;
    width: 660px;
}

.settings-pane .form-actions .btn {
    width: 210px;
    margin-right: 10px;
}

.settings-pane .form-actions .btn:last-of-type {
    margin-right: 0;
}

#export-pending-body {
    text-align: center;
}

/* Compilation pane */

.compilation-pane .well {
    margin: 30px;
    padding-left: 60px;
    padding-right: 60px;
    width: 590px;
}

.compilation-pane input:not([type=checkbox]) {
    width: 460px;
}

.compilation-pane select {
    width: 475px;
}

.compilation-pane form.form-horizontal label {
    width: 90px;
    text-align: left;
}

.compilation-pane form.form-horizontal .help-block {
    margin-left: 110px;
}

.compilation-pane #run-on-phone .btn,
.compilation-pane #run-on-qemu .btn,
.compilation-pane .build-buttons .btn {
    width: 188px;
    margin-right: 9px;
}

.compilation-pane #run-on-phone .btn:last-of-type,
.compilation-pane #run-on-qemu .btn:last-of-type,
.compilation-pane .build-buttons .btn:last-child {
    margin-right: 0;
}

.compilation-pane h3 {
    margin-top: 20px;
    margin-bottom: 20px;
}

.build-stats p {
    color: white;
    margin-bottom: 10px;
    font-size: large;
}

.build-stats label {
    color: #adadad;
    font-family: PFD-Regular, 'Helvetica Neue', Helvetica, Arial, sans-serif;
    text-transform: uppercase;
}

table.build-results .build-id {
    color: white;
    font-family: PFD-Regular, 'Helvetica Neue', Helvetica, Arial, sans-serif;
    padding-right: 30px;
}

table.build-results .build-state {
    text-transform: uppercase;
}

table.build-results tr.success .build-state {
    color: #00B293;
}

table.build-results tr.error .build-state {
    color: #E5171F;
}

table.build-results tr.pending .build-state {
    color: #3a87ad;
}

#last-compilation-qr-code img {
    height: 164px;
    width: 164px;
    float: right;
    margin-top: -10px;
}

/* GitHub pane */

.github-pane .well {
    margin: 30px;
    padding-left: 30px;
    padding-right: 30px;
    width: 650px;
}

.github-pane .form-horizontal .control-group label {
    width: 150px;
}

.github-pane .help-block {
    margin-left: 170px;
}

.github-pane input:not([type=checkbox]):not([type=submit]) {
    width: 435px;
}

.github-pane select {
    width: 450px;
}

.github-actions .btn {
    width: 250px;
    margin-right: 20px;
}

.modal-body .running p {
    color: white;
    text-align: center;
    padding: 20px;
}

/* Resources pane */

.resource-pane .well {
    margin: 30px;
    padding-left: 30px;
    padding-right: 30px;
    width: 650px;
}

.resource-pane .form-horizontal .control-group label {
    width: 150px;
}

.resource-pane .help-block {
    margin-left: 170px;
}

.resource-pane input:not([type=checkbox]):not([type=submit]) {
    width: 435px;
}

.resource-pane select {
    width: 450px;
}

.resource-download-link .btn {
    margin-left: 170px;
    width: 300px;
}

.image-resource-preview img {
    margin-left: 170px;
    border: 2px solid #767676;
    padding: 5px;
    border-radius: 5px;
}

.image-resource-preview p {
    display: table-cell;
    vertical-align: middle;
    padding-left: 10px;
    padding-top: 5px;
}

.image-resource-preview > div {
    display: table-row;
}

.image-resource-preview > div > * {
    display: table-cell;
}

.resource-actions .btn {
    margin-right: 20px;
    width: 188px;
}

/* UI Editor pane */

.ui-pane {
    padding-top: 20px;
    padding-left: 20px;
}

.ui-canvas-things {
    width: 296px; /* PEBBLE_WIDTH*2 + a bit */
    float: left;
}

.ui-canvas {
    border: 4px solid gray;
    width: 288px; /* PEBBLE_WIDTH*2 */
    height: 336px; /* PEBBLE_HEIGHT*2  */
}

.ui-thingies {
    width: 500px;
    height: 100%;
    padding-left: 20px;
    float: left;
}

#ui-layer-list {
    padding-top: 20px;
}

/* Old stuff. */

.CodeMirror-hints {
  font-family: Menlo, 'Deja Vu Sans Mono', monospace;
  z-index: 10001; /* Needs to be higher than the z-index of .CodeMirror.FullScreen */
}

.edit-resource-regex, .appkey-name, .appkey-id {
  font-family: Menlo, 'Deja Vu Sans Mono', monospace;
}

.nav-list .popover {
    max-width: 350px;
}

.CodeMirror-dialog input {
    -webkit-border-radius: 0 !important;
    -moz-border-radius: 0 !important;
    border-radius: 0 !important;
    line-height: normal !important;
    margin: 0 !important;
    padding: 0 !important;
}

.modal form {
    margin-bottom: 0;
    padding-bottom: 0;
}

.modal .form textarea, .modal .form input[type=text] {
    width: 515px;
}

.form label {
    font-weight: bold;
}

.help-block.dire-warning {
    color: rgb(185, 74, 72);
}

.img-polaroid.img-dimmer {
    background-color: #ddd;
}

.build-log {
    color: #999;
}

.build-log .log-success {
    color: #468847;
    font-weight: bold;
}

.build-log .log-error {
    color: #b94a48;
    font-weight: bold;
}

.build-log .log-note {
    color: #3a87ad;
    font-weight: bold;
}

.build-log .log-warning {
    color: #c09853;
    font-weight: bold;
}

.filename-link {
    text-decoration: underline;
    cursor: pointer;
}

.cm-s-cloudpebble span.cm-autofilled,
.cm-s-monokai span.cm-autofilled,
.cm-s-blackboard span.cm-autofilled,
.cm-s-solarized.cm-s-dark span.cm-autofilled {
    background-color: #8da9d8;
    color: white !important;
}

.cm-s-eclipse span.cm-autofilled,
.cm-s-solarized.cm-s-light span.cm-autofilled {
    background-color: #e9effa;
    color: black !important;
}

span.cm-autofilled-start  {
    border-top-left-radius: 8px;
    border-bottom-left-radius: 8px;
    padding-left: 5px;
}

span.cm-autofilled-end {
    border-top-right-radius: 8px;
    border-bottom-right-radius: 8px;
    padding-right: 5px;
}

.CodeMirror-hint-active .muted {
    color: #ddd;
}

/* Fix truncated autocomplete introduced when moving to hosted CSS. */
.CodeMirror-hint {
    max-width: 80em;
    min-width: 30em;
    text-overflow: ellipsis;
}

.gutter-hint-warnings {
    width: 16px;
}

.gutter-errors {
    width: 16px;
}

.line-hint-warning, .line-clang-warning {
    background-color: #444623;
}

.line-clang-error {
    background-color: #362025;
}

.cm-s-eclipse .line-clang-error,
.cm-s-solarized.cm-s-light .line-clang-error {
    background-color: #ffd9db;
}


.cm-s-eclipse .line-clang-warning,
.cm-s-solarized.cm-s-light .line-clang-warning,
.cm-s-eclipse .line-hint-warning,
.cm-s-solarized.cm-s-light .line-hint-warning {
    background-color: #fff4b7;
}

/* Override white icons on the light themes. */
.cm-s-eclipse .icon-white,
.cm-s-solarized.cm-s-light .icon-white{
    /* We have to hard-code this entire thing from here, unfortunately. */
    background-image: url(//cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/2.3.2/img/glyphicons-halflings.png)
}

.fullscreen-icon {
    position: absolute;
    right: 25px;
    top: 10px;
    cursor: pointer;
    z-index: 3;

    width: 18px;
    height: 13px;
    background-image: url('../img/fullscreen_open.png');
}


.CodeMirror.FullScreen .fullscreen-icon {
    background-image: url('../img/fullscreen_close.png');
}

.fullscreen-fade {
   opacity: 0.1;
   transition: opacity .25s ease-in-out;
   -moz-transition: opacity .25s ease-in-out;
   -webkit-transition: opacity .25s ease-in-out;
}

.fullscreen-fade:hover {
    opacity: 1;
}

.fullscreen-icon-tooltip {
    display:none;
    color: #aaa;
    position: absolute;
    right: 35px;
    width: 120px;
    top: 7px;
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
}

.CodeMirror.FullScreen {
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    position: absolute;
    border: none;
    border-radius: 0;
    z-index: 10000; /* Needs to be greater than 9999... */
}

.screenshot-holder {
    height: 272px;
    width: 236px;
    margin-left: auto;
    margin-right: auto;
    padding-top: 104px;
}

.screenshot-holder-tintin-red,
.screenshot-holder-unknown {
    background-image: url('../img/pebbles/tintin-red.png')
}

.screenshot-holder-tintin-orange {
    background-image: url('../img/pebbles/tintin-orange.png')
}

.screenshot-holder-tintin-black {
    background-image: url('../img/pebbles/tintin-black.png');
}

.screenshot-holder-tintin-white {
    background-image: url('../img/pebbles/tintin-white.png');
}

.screenshot-holder-tintin-grey {
    background-image: url('../img/pebbles/tintin-grey.png');
}

.screenshot-holder-bianca-black {
    background-image: url('../img/pebbles/bianca-black.png');
}

.screenshot-holder-bianca-silver {
    background-image: url('../img/pebbles/bianca-silver.png');
}

.screenshot-holder-tintin-blue {
    background-image: url('../img/pebbles/tintin-blue.png');
}

.screenshot-holder-tintin-pink {
    background-image: url('../img/pebbles/tintin-pink.png');
}

.screenshot-holder-tintin-green {
    background-image: url('../img/pebbles/tintin-green.png');
}

.field-help {
    vertical-align: middle;
    margin-bottom: 5px;
    margin-left: 10px;
}

#help-prompt-holder {
    z-index: 2000;
    position: relative;
}

#help-prompt-holder > .popover {
    width: 300px;
}