.CodeMirror {
  border: 1px solid #eee;
  border-radius: 4px;
  font-family: Menlo, 'Deja Vu Sans Mono', monospace;
  font-size: 13px;
  line-height: 18px;
}

.edit-resource-regex {
  font-family: Menlo, 'Deja Vu Sans Mono', monospace;
}

.resource-download-link {
    margin-left: 180px; /* Matches Bootstrap's form offset. */
}

.nav-list .popover {
    max-width: 350px;
}