.CodeMirror {
  border: 1px solid #eee;
  border-radius: 4px;
  font-family: Menlo, 'Deja Vu Sans Mono', monospace;
  font-size: 13px;
  line-height: 18px;
}

.CodeMirror-hints {
  font-family: Menlo, 'Deja Vu Sans Mono', monospace;
}

.edit-resource-regex {
  font-family: Menlo, 'Deja Vu Sans Mono', monospace;
}

.resource-download-link {
    margin-left: 180px; /* Matches Bootstrap's form offset. */
}

.nav-list .popover {
    max-width: 350px;
}

#sidebar.nav-list > li > a, #sidebar.nav-list .nav-header {
    margin-right: -20px;
    margin-left: -20px;
}

#sidebar.nav-list {
    padding-left: 0;
    padding-right: 0;
    margin-top: -10px;
    margin-bottom: -10px;
}

#last-compilation-qr-code img {
    height: 148px;
    width: 148px;
    margin-top: -20px;
}

.CodeMirror-dialog input {
    -webkit-border-radius: 0 !important;
    -moz-border-radius: 0 !important;
    border-radius: 0 !important;
    line-height: normal !important;
    margin: 0 !important;
    padding: 0 !important;
}