{% extends 'ide/base.html' %}
{% block content %}
<style type="text/css">
    /* Custom container */
    .container-narrow {
        margin: 0 auto;
        max-width: 600px;
    }
</style>
<div class="container-narrow">
    <div class="masthead">
        <ul class="nav nav-pills pull-right">
          <!-- Top right pills -->
        </ul>
        <h3 class="muted"><a href="/" class="muted">CloudPebble</a></h3>
    </div>
    <div class="row-fluid legacy-account-box">
        <div class="span12 well text-center">
            <p>
                Have a legacy CloudPebble account?
                <a href="/accounts/login{{ params }}">Log in to link it with your Pebble account.</a></p>
            <p>Legacy accounts are being phased out in favour of the unified Pebble account system.
            Once you log in to your legacy account you will be required to link it; henceforth you must
            use the button below to log in.</p>
            {% if not must_sso %}
            <p>
                <strong>(This appears to be a developer instance with SSO disabled; linking will not occur.
                    Set <code>SOCIAL_AUTH_PEBBLE_REQUIRED = True</code> to change this behavour.)</strong></p>
            <p><a href="/accounts/register">Create a local account</a></p>
            {% endif %}
        </div>
    </div>
    <div class="row-fluid">
        <div class="span12 text-center">
            <p><strong>Or:</strong></p>
        </div>
    </div>
    <div class="row-fluid pebble-account-box">
        <div class="span12 well text-center">
            <p><a href="/login/pebble{{ params }}" class="btn btn-large btn-primary">Log in with your Pebble Account</a></p>
            <p>This is the same account you use to log in to the Pebble Forums, Developer Portal and phone app.</p>
            <p>Don't have a Pebble account? <a href="{{ sso_root }}users/sign_up">Create one!</a></p>
        </div>
    </div>
</div>
{%endblock%}
