{% extends "registration/base.html" %}
{% block title %}CloudPebble – Reset password{% endblock %}
{% block inner_content %}
<p>Forgot your password?  Enter your email in below and we'll send you
instructions for creating a new one.</p>
<form class="form-horizontal" method='post' action=''>{% csrf_token %}
    {% if form.non_field_errors %}
        {% for error in form.non_field_errors %}
            <div class="alert alert-error">{{ error }}</div>
        {% endfor %}
    {% endif %}
    {% for field in form %}
        <div class="fieldWrapper">
            <div class="control-group {% if field.errors %}error{% endif %}">
                <label class="control-label">{{ field.label_tag }}</label>
                <div class="controls">
                    {{ field }}
                    {% if field.errors %}
                    <span class="help-inline">
                        {% for error in field.errors %}
                            {{ error }}
                        {% endfor %}
                    </span>
                    {% endif %}
                </div>
            </div>
        </div>
    {% endfor %}
    <div class="form-actions">
        <input type='submit' class="btn btn-primary" value="Reset password" />
    </div>
</form>
{% endblock %}
